@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor0: #FFF689;
    --cor1: #A5C4D4;
    --cor2: #2E5266;
    --cor3: #A17C6B;
    --cor4: #310A31;
}

body {
    background-color: #a5c4d449;
}

header {
    background-color: var(--cor2);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid;
}

nav a {
    text-decoration: none;
    padding: 10px 15px;
    transition: 0.3s;
    border-radius: 8px;
    color: white;
    font-weight: bold;
}

nav a:hover {
    color: azure;
    background-color: var(--cor4);
}

ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

article {
   
    max-width: 1400px;
    margin: 10px auto;
    background-color: #fff58941;
    border-radius: 10px;
    box-shadow: 1px 1px 2px black;
}

article h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

article p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-indent: 25px;
    line-height: 1.9;
}

figure {
    max-width: 600px;
    margin: 20px auto;

     }

figure img { 
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 1px 1px 2px black;
}
